<div>
  <h1>BLEVAL</h1>
  <h2>Aaron Washburn - May 2015</h2>
  <%= link_to 'Leads', leads_path %><br />
  <%= link_to 'Agents', agents_path %><br />
  <%= link_to 'Deals', deals_path %><br />
  <%= link_to 'Tasks', tasks_path %><br />
  <%= link_to 'Events', events_path %><br />
</div>