<div>
  <h1>Create Task</h1>
  <%= simple_form_for @task, url: tasks_path do |f| %>
    <%= f.association :creator, label_method: :last_name%>
    <%= f.association :assignee, label_method: :last_name %>
    <%= f.association :completer, label_method: :last_name %>
    <%= f.association :lead, label_method: :last_name %>
    <%= f.association :deal, label_method: :id %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :task_priority, label_method: :name %>
    <%= f.association :task_status, label_method: :name %>
    <%= f.submit 'Create' %>
  <% end %>
</div>