<div>
  <h1>Task</h1>
  <ul>
    <li>Creator ID:<%= @task.creator_id %></li>
    <li>Assignee ID:<%= @task.assignee_id %></li>
    <li>Completer ID:<%= @task.completer_id %></li>
    <li>Lead ID:<%= @task.lead_id %></li>
    <li>Deal ID:<%= @task.deal_id %></li>
    <li>Priority:<%= @task.task_priority.name %></li>
    <li>Status:<%= @task.task_status.name %></li>
  </ul>
</div>