<div>
  <h1>Edit Lead</h1>
  <%= simple_form_for @lead, url: lead_path(@lead), method: :patch do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.association :agent, label_method: :last_name %>
    <%= f.association :lead_type, label_method: :name %>
    <%= f.association :lead_status, label_method: :name %>
    <%= f.association :lead_priority, label_method: :name %>
    <%= f.submit 'Update' %>
  <% end %>
</div>