<div>
  <h1>Leads</h1>
  <ul>
    <li>First Name: <%= @lead.first_name %></li>
    <li>Last Name: <%= @lead.last_name %></li>
    <li>Agent ID: <%= @lead.agent_id %></li>
    <li>Lead Type: <%= @lead.type %></li>
    <li>Lead Status: <%= @lead.status %></li>
    <li>Lead Priority: <%= @lead.priority %></li>
  </ul>
  <%= link_to 'Update Lead', edit_lead_path(@lead) %>

  <h2>Contact Agent</h2>
  <ul>
    <%= simple_form_for @agent_contact,
      url: agent_contacts_path do |f| %>
      <%= f.input :lead_id,
        as: :hidden,
        input_html: { value: @lead.id } %>
      <%= f.association :agent, label_method: :last_name %>
      <%= f.input :property_id %>
      <%= f.input :comments %>
      <%= f.submit 'Contact Agent' %>
    <% end %>
</div>