<div>
  <h1>Create Event</h1>
  <%= simple_form_for @event, url: events_path do |f| %>
    <%= f.input :creator_id, as: :integer %>
    <%= f.input :assignee_id, as: :integer %>
    <%= f.input :lead_id, as: :integer %>
    <%= f.input :deal_id, as: :integer %>
    <%= f.submit 'Create' %>
  <% end %>
</div>