<div>
  <h1>Edit Deal</h1>
  <%= simple_form_for @deal, url: deal_path(@deal), method: :patch do |f| %>
    <%= f.association :agent, label_method: :last_name %>
    <%= f.association :lead, label_method: :last_name %>
    <%= f.association :current_stage, label_method: :name %>
    <%= f.input :property_id, as: :integer %>
    <%= f.input :proj_closing_date, as: :date %>
    <%= f.submit 'Update' %>
  <% end %>
</div>