<div>
  <h1>Create Deal</h1>
  <%= simple_form_for @deal, url: deals_path do |f| %>
    <%= f.association :agent, label_method: :last_name %>
    <%= f.association :lead, label_method: :last_name %>
    <%= f.association :current_stage, label_method: :name %>
    <%= f.input :property_id, as: :integer %>
    <%= f.input :proj_closing_date, as: :date, label: 'Projected closing date' %>
    <%= f.input :ps_date, as: :date, label: 'Purchase & Sale date' %>
    <%= f.submit 'Create' %>
  <% end %>
</div>