<div>
  <h1>Deal</h1>
  <ul>
    <li>Agent ID:<%= @deal.agent.id %></li>
    <li>Agent last name:<%= @deal.agent.last_name %></li>
    <li>Deal stage:<%= @deal.stage %></li>
    <li>Lead ID:<%= @deal.lead_id %></li>
    <li>Property ID:<%= @deal.property_id %></li>
    <li>Purchase &amp; Sale Date:<%= @deal.ps_date %></li>
    <li>Projected Closing Date:<%= @deal.proj_closing_date %></li>
  </ul>
  <%= link_to 'Update Deal', edit_deal_path(@deal) %>
  <h2>Events</h2>
  <ul>
    <% @deal.events.each do |event| %>
      <li>
        <%= link_to event_details(event), event_path(event) %>
      </li>  
    <% end %>
  </ul>
  <h2>Tasks</h2>
  <ul>
    <% @deal.tasks.each do |task| %>
      <li>
        <%= link_to task_details(task),
            task_path(task) %>
      </li>
    <% end %>
  </ul>
</div>