<!DOCTYPE html>
<html>
<head>
  <title>Bleval</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to 'Home', root_path %><br />
  <%= link_to "Back", :back %>
</div>
<%= yield %>

</body>
</html>
